<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBA.SDsLiCk.CodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBA.SDsLiCk.CodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IBA.SDsLiCk.CodeGen.Properties.Settings>
            <setting name="Modifiers" serializeAs="String">
                <value>abstract static public protected private internal readonly</value>
            </setting>
        </IBA.SDsLiCk.CodeGen.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IBA.SDsLiCk.CodeGen.Properties.Settings>
            <setting name="Keywords" serializeAs="String">
                <value>using namespace class if else</value>
            </setting>
            <setting name="Operators" serializeAs="String">
                <value>. , ; : ( ) { } [ ] = += -= == &gt;= &lt;= &lt; &gt; &lt;&lt; &gt;&gt; &amp; &amp;&amp; | ||</value>
            </setting>
        </IBA.SDsLiCk.CodeGen.Properties.Settings>
    </applicationSettings>
</configuration>