<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBA.SDsLiCk.GUIBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IBA.SDsLiCk.GUIBuilder.Properties.Settings>
            <setting name="CSLangDefFilePath" serializeAs="String">
                <value>D:\Users\Tony\MyProjects\IBA\SDsLiCk\SDsLiCk.Dev\CtrlParserDef.csv</value>
            </setting>
        </IBA.SDsLiCk.GUIBuilder.Properties.Settings>
    </applicationSettings>
</configuration>